html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important; 
}
body{
    background-image: linear-gradient(to right, #1c2035, #040A22);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/*SVG icon styling*/
.svg-icon {
    width: 1em;
    height: 1em;
    outline: none;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #FFF;
}
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
/*Navbar*/
.navbar-brand img{
    height: 50px;
    padding: 0 10px;
}
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #333E73, #040A22);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    color: #FFF !important;
    font-weight: 600;
    text-align: left;
}
.navbar-toggler{
    outline: none !important;
}
#title{
    color: #FFF;
    font-size: 60px;
}
#title:before{
    content: '';
    background: #fff987;
    height: 5px;
    width: 380px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    transform: translateY(90px);
    border-radius: 10%;
}
.circle #genre{
    top: -27px;
    position: relative;
    z-index: 100;
    color: #FFF;
    font-size: 15px;
}
.circle{ 
    border-radius: 30px;
    border: 2px solid white;
    width: 100px;
    height: 20px;
}
#about{
    color: #FFF;
    font-size: 50px;
}
#about:before{
    content: '';
    background: #fff987;
    height: 5px;
    width: 140px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    transform: translateY(70px);
    border-radius: 10%;
}
#about-info{
    color: #FFF;
    font-size: 20px;
}
#About{
    border: 3px solid #fff987;
    border-radius: 10px;
}
#Include{
    color: #FFF;
    font-size: 20px;
}
#Buy ul li{
    color: #FFF;
}
.btn{
    top: -140px;
    left: 50%;
    position: absolute;
    width: 150px;
    margin: auto;
    color: #6bfa19;
    border: 1px solid #6bfa19;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn:hover{
    color: #FFF;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #6bfa19;
    z-index: -1;
    transition: 0.8s;
}
.btn1:before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover:before{
    height: 180%;
}